*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    max-width: 1000px;
    margin: 0 auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

.tvShowsApp {
    padding: 1rem;
    /* gap: 0.5rem; */
}

.episode-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow-x: auto;
}

.episode-image {
    border-radius: 0.5rem;
}

.tvShowsCard {
    background-color: lightgrey;
    border: solid 0.1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 15rem;
    font-size: 12px;
    display: flex;          
    flex-direction: column; 
    position: relative;
}